{% extends 'layout.html' %}

{% block content %}
    <form class="form-signin" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <div class="control-group form-group">
            <div class="controls">
                {{ sign_in.email.label  }}
                 {{ sign_in.email(class='form-control') }}
              {% for error in sign_in.email.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
                {% endfor  %}
            </div>
      </div>
        <div class="control-group form-group">
            <div class="controls">
              {{ sign_in.password.label  }}
                {{ sign_in.password(class='form-control') }}
                 {% for error in sign_in.password.errors %}
                <p class="alert alert-danger" role="alert">
                  {{ error }}
              </p>
                {% endfor  %}
            </div>
        </div>
            <!-- For success/fail messages -->
            {{ sign_in.hidden_tag() }}
        <div class="checkbox mb-3">
          {{ sign_in.submit(class='btn btn-primary') }}
        </div>
    </form>
{% endblock content %}