{% extends 'layout.html' %}

{% block content %}
    <h2>Hello! This is your page for uploads</h2>
    <p>You are {{ user_info.name }}</p>
    <p>Your username is {{ user_info.username }}</p>
    <p>Your e-mail is {{ user_info.email }}</p>
    <p>Your role is {{ user_info.role }}</p>
    <div class="row">
        <div class="control-group form-group">
            <div class="controls">
                <form method="post" enctype="multipart/form-data" action="">
                    {{ form_upload.hidden_tag() }}
                    {{ form_upload.file.label }}
                    {{ form_upload.file }}
                    {{ form_upload.upload }}
                </form>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div id="mdb-lightbox-ui"></div>
            </div>
        {% for file in filelist %}
        <div class="mdb-lightbox">

                <img class="img-fluid" src='{{ url_for("static",filename=file) }}' alt="Card image cap">



        </div>
        {% endfor %}
    </div>

{% endblock content %}