{% extends 'template.html' %}




{% block content %}
<div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Registration Form</h3>

        <form method="post">
          <div class="control-group form-group">
            <div class="controls">
              {{ formTest.name.label }}
              {{ formTest.name(class='form-control') }}
                {% for error in formTest.name.errors %}
                    <div class="alert alert-danger"> {{ error }} </div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ formTest.surname.label }}
              {{ formTest.surname(class='form-control') }}
                {% for error in formTest.surname.errors %}
                    <div class="alert alert-danger"> {{ error }} </div>
                {% endfor  %}
            </div>
          </div>
        <div class="control-group form-group">
            <div class="controls">
              {{ formTest.email.label }}
              {{ formTest.email(class='form-control') }}
                {% for error in formTest.email.errors %}
                    <div class="alert alert-danger"> {{ error }} </div>
                {% endfor  %}
            </div>
          </div>
        <div class="control-group form-group">
            <div class="controls">
              {{ formTest.password.label }}
              {{ formTest.password(class='form-control') }}
                {% for error in formTest.password.errors %}
                    <div class="alert alert-danger"> {{ error }} </div>
                {% endfor  %}
            </div>
          </div>
          <!-- For success/fail messages -->
            {{ formTest.submit(class='btn btn-primary') }}
            {{ formTest.hidden_tag() }}
        </form>
      </div>

    </div>
{% endblock content %}